* {
    margin: 0;
    padding: 0
}

a {
    text-decoration: none;
    color: white
}

ul li {
    list-style: none
}

body {
    background: #efefef;
    ;
    color: black
}

.topNavBar {
    margin-top: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-width: 940px;
}

.topNavBar>nav>ul>li {
    float: left;
}

.topNavBar>nav>ul>li>a {
    display: block;
    margin: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 2px solid transparent;
}

.topNavBar>nav>ul>li>a:hover {
    border-bottom: 2px solid red
}

.topNavBar .menu {
    font-size: 12px;
    font-weight: bold
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.logo {
    float: left;
    font-size: 24px;
    margin: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.logo .rs {
    color: red;
}

.menu {
    float: right;
    padding-top: 10px;
    margin-right: 20px;

}

.banner {
    background-image: url(./img/rs-cover.jpg);
    height: 515px;
    background-position: center center;
    background-size: cover;

}

.banner .mask {
    height: 515px;
    background-color: rgba(0, 0, 0, 0.8);
}

.usercard {
    background-color: #ffffff;
    color: black;
    min-width: 940px;
    margin-left: auto;
    margin-right: auto;
    position:absolute;
    left: 50%;
    top: 50%;
    -webkit-transform:translate(-50%,-30%);
}

.text .welcome {
    background-color: #e6686a;
    color: white;
    padding: 4px 16px;
}

.sj {
    border: 12px solid #e6686a;
    height: 0;
    width: 0;
    border-bottom: 12px solid transparent;
    border-right: 12px solid transparent;
    border-left: 12px solid #e6686a;
    border-top: 0px solid transparent;
    margin-left: 5px;
}


.picture {
    float: left;
}

.text {
    float: left;
    margin-left: 65px;
    margin-top: 4px;
    width: 470px;
    ;
}



.userinfobox {
    padding: 50px;
}

.text h1 {
    padding-top: 10px;
}

.text p {
    margin-bottom: 15px;
}

.text dl {
    margin-top: 20px;
}

hr {
    color: #9da0a7
}

.text dt,
.text dd {
    float: left;
    padding-bottom: 30px;
}

.text dt {
    width: 30%;
    font-weight: bold
}

.text dd {
    width: 70%;
    color: #9da0a7
}


.media {
    background-color: #E6686A;
    text-align: center
}


.media a{
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    line-height: 38px;
    vertical-align: bottom;
    margin-bottom: 10px;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.media a:hover {
    background: #CF5D5F
}